
body {
    background-color: #dff4ff;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #00a6ff;
    overflow: hidden;
    margin-bottom: 20px;
}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #0097e9;
    color: black;
}
  
/* Add a color to the active/current link */
.topnav a.active {
    border: 2px solid black;
    background-color: #b1b1b1;
    color: black;
}



.EtsyListing {
    display:inline-block;
    border: 2px solid black;
    border-radius: 25px;
    background: #b1b1b1;
    padding: 20px;
    width: 234px;
    height: 183;
    text-align:center;
    margin-bottom: 10px;
    margin-right: 10px;
}

.ListingButton {
    border-radius: 10px;
    background: #00a6ff;
}

.ListingImage {
    border: 2px solid black;
}
